@use "./src/sass/" as *;

#addNew-header {
    @include flex(row, center, center);
    margin-right: 160px;
    margin-bottom: 120px;
    margin-top: -180px;
}

.add-new-container {
    @include flex(column, center, center);
    margin-bottom: 55px;
}

.addNew-subtitle {
    color: white;
    font-size: 22px;
    margin-bottom: 68px;
    margin-top: -55px;
}