@use "./src/sass/" as *;
@import url("https://fonts.googleapis.com/css2?family=Beth+Ellen&family=Open+Sans:ital,wght@0,300..800;1,300..800&display=swap");

body {
  @include flex(column, center, center);
  background-color: #1e1e1e;
  letter-spacing: 2px;
  font-family: $primary-font-family;
  font-weight: bold;
}

.layout-container {
  width: 375px;
  height: 812px;
  background-color: map-get($style-page-colors, "bkg");
  @include flex(column, center, center);
  padding: 16px;
  border-radius: 8px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);

  .layout-main {
    @include flex(column, center, center);
    gap: 16px;
  }

  .layout-header {
    @include flex(column, center, center);

    h1 {
      color: map-get($style-page-colors, "white");
    }
  }
}

.custom-textfield {
  .MuiSvgIcon-root {
    color: map-get($style-page-colors, "labels");
  }

  .MuiInputBase-input {
    color: map-get($style-page-colors, "labels");
  }

  .MuiInputBase-root {
    border: solid 1px #ffbd21;
    border-radius: 5px;
    width: 311px;
    height: 62px;

    /* @include flex(row, center, center);
    margin: auto; */
  }

  label {
    color: map-get($style-page-colors, "labels");

    &.MuiInputLabel-shrink {
      background-color: map-get($style-page-colors, "labels");
      color: map-get($style-page-colors, "bkg");
      border-radius: 6px 6px 0 0;
      margin-top: -12px;
      margin-left: -15px;
      padding: 3px;
      letter-spacing: 2px;
      font-family: $primary-font-family;
      font-weight: bold;
    }
  }
}

.layout-button {
  width: 311px;
  height: 62px;
  font-size: 20px;
  letter-spacing: 2px;
  font-family: $primary-font-family;
  font-weight: bold;
  border-radius: 8px;
  margin-top: 120px;
  margin-bottom: -150px;
}

.storage-container {
  @include flex(column, center, center);
  position: relative;
  margin: 20px 0;
  
}

.input-group {
  border: solid 1px #ffbd21;
  width: 80%;
  border-radius: 6px;
  padding: 5px 0;
  div {
    margin: 0;
    padding: 6px;
    border-radius: 5px 5px 0 0;
  }

  .css-70qvj9 {
    margin-top: -10px;
    margin-bottom: -5px;
    border-radius: 5px;
  }

  h6 {
    background-color: #ffbd21;
    width: 36%;
    font-size: 10px;
    border-radius: 5px 5px 0 0;
    letter-spacing: 2px;
    font-family: $primary-font-family;
    font-weight: bold;
    padding: 2px 0px;
    position: absolute;
    top:-22px;
    text-align: center;
  }
}
