@mixin flex($direction: row, $justify: flex-start, $align: normal) {
    display: flex;
    flex-direction: $direction;
    justify-content: $justify;
    align-items: $align;
  }

  @mixin apply-font($font-map) {
    font-family: map-get($font-map, family);
    font-optical-sizing: map-get($font-map, optical-sizing);
    font-weight: map-get($font-map, weight);
    font-style: map-get($font-map, style);
  }