$background-pages-color : #1E1E1E;
$style-page-colors : (
    "labels" : #FFBD21,
    "white" : #FFFFFF,
    "bkg" : #15085F,
    "secondaryFont" : #FF4910,
 /*    "yellow85": rgb(255, 183, 3, 0.85) */
);

$primary-font-family :  "Open Sans", sans-serif;
/* $secondary-font-family: "Beth Ellen", cursive; */
